
/*详情页主要内容块*/
#x-main {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
/*--------------详情页  当前位置 导航栏---------------------------*/
#x-main .search-link {
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
}
#x-main .search-link li {
    float: left;
    padding-right: 14px;
}
#x-main .search-link li a {
    display: inline-block;
    margin-right: 14px;
}
/*首页 小家*/
.ico-home {
    background-image: url(http://img.cdn.daling.com/st/web/160907170922/styles/images/icon/ico.png)!important;
    width: 20px;
    height: 14px;
    background-position: 0 -45px;
}
.ico-home, .share-btn .icon-share {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
/*下面>*/
.icon-to {
    background: url(images/icon/ico_arrow.png) -64px -85px no-repeat;
    vertical-align: middle;
    display: inline-block;
    width: 7px;
    height: 21px;
}
#x-main .condition li{
	position: relative;
}
/*分类框 */
#x-main .search-link li .sort {
    border: 1px solid #ccc;
    padding: 0 24px 0 2px;
    height: 23px;
    margin-top: 8px;
    line-height: 23px;
    position: relative;
    z-index: 2;
}
/*上下箭头*/
#x-main .search-link li .sort .ico-sort-ar {
    right: 6px;
    position: absolute;
    top: 0;
}
/*上 箭头*/
#x-main .ico-sort-ar .up {
    border-color: transparent transparent #c2c2c2;
    display: block;
    vertical-align: top;
    margin-top: -4px;
}
/*下箭头*/
#x-main .ico-sort-ar .down {
    display: block;
    border-color: #c2c2c2 transparent transparent;
    vertical-align: bottom;
    margin-top: 6px;
}
#x-main .ico-sort-ar .down, #x-main .ico-sort-ar .up {
    height: 0;
    line-height: 0;
    width: 0;
    border-style: solid;
    border-width: 6px 3px;
}
#x-main .search-link li .sort .drop {
    border: 1px solid #ccc;
    position: absolute;
    top: 23px;
    left: -1px;
    background-color: #fff;
    display: none;
}
/*隐藏 分类 选项*/
#x-main .search-link li .sort .drop {
    border: 1px solid #ccc;
    position: absolute;
    top: 23px;
    left: -1px;
    background-color: #fff;
    display: none;
}
/*搜索框*/
#x-main .search-link .search-input {
    padding: 0 3px;
    width: 140px;
    height: 23px;
    line-height: 23px;
    border: 0;
}
/*搜索按钮*/
#x-main .search-link li .sort .ico-search {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 13px;
    height: 12px;
    border: 0;
    background: url(http://img.cdn.daling.com/st/web/160907170922/styles/images/icon/ico-sort.png) -38px top no-repeat;
    vertical-align: middle;
    display: inline-block;
}
/*每块 dl  样式*/
#x-main .condition dt {
    float: left;
    width: 70px;
    font-weight: 700;
    padding: 8px 0 10px;
}
#x-main .condition dd {
    float: left;
    width: 840px;
    line-height: 14px;
    padding-bottom: 10px;
    height: 24px;
    overflow: hidden;
}
#x-main .condition dd a {
    float: left;
    margin: 10px 20px 0 0;
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*更多*/
#x-main .condition li .options {
    position: absolute;
    right: 0;
    top: 2px;
}
/*更多 的  边框*/
#x-main .condition li .options a {
    width: 58px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
}
/*更多里的 箭头*/
#x-main .condition li .options a .ico-r{
    border-color: transparent transparent transparent #ccc;
    border-width: 4px 7px;
    margin: -2px 3px 0 10px;
    display: inline-block;
    vertical-align: middle;
    height: 0;
    line-height: 0;
    width: 0;
    border-style: solid;
}
/*多选 块  内的+*/
#x-main .condition li .options a .ico-add1 {
    padding: 0 9px;
    vertical-align: middle;
    margin-top: -6px;
    display: inline-block;
}

.pr10 {
    padding-right: 10px;
}

#x-main .sortbar {
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    margin-top: 20px;
    position: relative;
}

#x-main .sortinner a.current {
    color: #e14958;
}
#x-main .sortinner a {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    margin-right: 20px;
}
/*销量类 箭头*/
.ico-sort-d {
    width: 9px;
    height: 12px;
    display: block;
    position: absolute;
    right: 0;
    top: 13px;
    vertical-align: middle;
    background: url(http://img.cdn.daling.com/st/web/160907170922/styles/images/icon/ico-sort.png) left top no-repeat;
}
.ico-sort-dr {
    background-position: -11px top;
}
#x-main .ico-sort-ar {
    position: absolute;
    right: 0;
    top: 6px;
}
/*只看有货   */
#x-main .sortbar .stock {
    padding-right: 44px;
}
/*input checked  样式*/
#x-main .sortbar .stock input {
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-top: -4px;
    margin-right: 3px;
}





/*详情页列表*/
#x-main .searchlist {
    margin-left: -20px;
    margin-top: 20px;
}
/*详情  ul统一样式*/
.searchlist ul {
    margin-left:0px;
    margin-bottom: 20px;
}
/*详情  ul li统一样式*/
.searchlist ul li {
    background-color: #fff;
    width: 283px;
    height: 378px;
    border: 1px solid #e5e5e5;
    margin-left: 20px;
    float: left;
}
/*img外的  块*/
.searchlist ul li .new-li-img{
	display: inline-block;
	position: relative;
}
/*详情  ul  内img统一样式*/
.searchlist ul li a img {
    width: 283px;
    height: 268px;
    display:block;
    position: relative;
    background-position: center center;
    background-size: cover;
}
/*商品信息块*/
.searchlist ul li .data {
    padding: 8px 26px 0;
}
/*价格*/
.searchlist ul li .data .price {
    padding-bottom: 8px;
}
/*收藏*/
.searchlist ul li .data .price .collect {
    line-height: 30px;
    float: right;
}
/*红色*/
.red {
    color: #e14958;
}
/*当前价格*/
.now-price {
    font-size: 20px;
    color: #e14958;
}
/*旧价格 样式  删除线*/
.old-price, .sidebar-collect .old-price {
    text-decoration: line-through;
}
/*简介*/
.searchlist ul li .data .title {
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    color: #666;
}

/*每个 li隐藏的加入购物车 框*/
.searchlist ul li  .option {
     width: 283px;
     height: 30px; 
     font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 10!important;
    display: none;
    bottom: 0;
    left: 0;
    background-color: #895ca5;
    opacity: .8;
    filter: alpha(opacity=80);
}
/*加入购物车的 图标*/
.searchlist ul li a .ico-g-cart {
    background-position: left -88px;
    width: 18px;
    margin-top: -5px;
    vertical-align: middle;
    background-image: url(http://img.cdn.daling.com/st/web/160907170922/styles/images/icon/ico.png)!important;
    display: inline-block;
    height: 16px;
    margin-left: 7px;
}
