@charset "utf-8";   
.pagination{
	float: right;
}   
.pagination a, .pagination span {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	color: #666;
	width: 28px;
    margin-left: 10px;
	height: 28px;
    line-height: 28px;
    border: 1px solid #e5e5e5;
}

.pagination .current {
	background-color: #e5e5e5;
    color: #fff;
    cursor: default;
}

.pagination .prev,.pagination .next{
	background-color: #fff!important;
	color: #666!important;
	width: 48px;
	text-align: center;
    height: 28px;
    line-height: 28px;
    margin-left: 10px;
}
.pagination a:hover{
	background: #f6f6f6;
}
